body {
  background-color: #192f42; }

a {
  cursor: pointer; }

.emoji-mart-emoji.selected:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 0; }

h1.quote-text {
  font-family: freight-sans-pro,sans-serif;
  padding-top: 0;
  margin-top: 0;
  font-style: italic; }

.sub.header {
  margin-top: 7px !important;
  margin-bottom: 10px !important; }

.lines {
  position: absolute;
  bottom: 10%;
  right: -14px;
  width: 102px; }

.lines_1 {
  position: absolute;
  top: 30%;
  left: -32px;
  width: 54px; }

.circle {
  position: absolute;
  left: 70px;
  width: 50px !important;
  top: 55%; }

.clock {
  color: #fff;
  top: 30px;
  position: absolute;
  right: 30px;
  text-align: right; }
  .clock p {
    font-size: 23px;
    line-height: 1.5; }
    .clock p span {
      display: block;
      font-size: 12px;
      opacity: 0.5; }

section.no-quote p {
  color: #fff;
  text-align: center;
  font-size: 33px;
  font-weight: 200;
  opacity: 0.5; }

.spacebar {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 20px;
  opacity: 0.6; }

@media only screen and (max-width: 64.063em) {
  section.quote {
    margin-top: 90px; }

  section.quote .content {
    padding-left: 0; }

  section.quote .poster {
    position: relative; } }
.quote-wrapper, #app {
  height: 100%; }

header {
  padding: 30px 40px; }

a.logo-container {
  position: absolute;
  left: 30px;
  top: 30px; }
  a.logo-container img {
    width: 135px; }

.refine-dialogues-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  width: 20px;
  opacity: 0.5; }
  .refine-dialogues-button:hover {
    opacity: 1; }

.share-dialogue-button {
  position: absolute;
  right: 77px;
  bottom: 30px;
  opacity: 0.5;
  cursor: pointer;
  width: 16px; }
  .share-dialogue-button:hover {
    opacity: 1; }

div.filter-modal-content {
  padding: 30px !important; }
  div.filter-modal-content button.tag_button {
    margin: 5px; }

section.quote {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -50px; }
  section.quote .poster {
    position: absolute;
    height: 150px;
    width: 150px;
    box-shadow: 0 15px 53px rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    background-color: #192f42; }
    section.quote .poster img {
      width: 100%;
      border-radius: 4px; }
    section.quote .poster .progressive-image-wrapper {
      border-radius: 50%;
      padding-bottom: 150px !important; }
  section.quote .content {
    color: #fff;
    padding-left: 190px; }
    section.quote .content .quote_icon {
      opacity: 0.1;
      margin-bottom: 3px;
      width: 34px; }
    section.quote .content h1 {
      font-weight: 300;
      font-size: 32px; }
      section.quote .content h1.small {
        font-size: 30px; }
      section.quote .content h1.medium {
        font-size: 36px; }
      section.quote .content h1.large {
        font-size: 42px; }
    section.quote .content p {
      font-size: 16px;
      text-transform: capitalize;
      font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
      opacity: 0.5; }
    section.quote .content .emoji {
      margin-top: 30px;
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.07);
      padding-top: 18px;
      min-height: 63px; }
      section.quote .content .emoji ul.reactions {
        margin: 0;
        padding: 10px 0px;
        display: inline-block; }
        section.quote .content .emoji ul.reactions li {
          display: inline-block;
          list-style: none;
          position: relative;
          padding-left: 30px;
          font-size: 12px;
          margin-right: 20px;
          line-height: 2.2; }
          section.quote .content .emoji ul.reactions li span.reaction-emo {
            position: absolute;
            left: 0; }
      section.quote .content .emoji ul.emojis-wrapper {
        padding: 0;
        margin: 0;
        margin-bottom: -5px; }
        section.quote .content .emoji ul.emojis-wrapper li.emo {
          display: inline-block;
          margin-right: 2px;
          padding: 2px;
          border-radius: 50px;
          cursor: pointer; }
          section.quote .content .emoji ul.emojis-wrapper li.emo .emoji-mart-emoji {
            line-height: 1 !important;
            transition: -webkit-transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
            transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
            transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2), -webkit-transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
            -webkit-transform: scale(1);
            transform: scale(1); }
            section.quote .content .emoji ul.emojis-wrapper li.emo .emoji-mart-emoji:hover, section.quote .content .emoji ul.emojis-wrapper li.emo .emoji-mart-emoji:focus {
              text-decoration: none;
              -webkit-transform: scale(1.2);
              transform: scale(1.2); }
          section.quote .content .emoji ul.emojis-wrapper li.emo:last-child {
            margin-right: 0; }
    section.quote .content .button {
      display: inline-block;
      border: 1px dashed #ffffff45;
      padding: 10px 22px;
      border-radius: 50px;
      position: relative;
      cursor: pointer;
      font-size: 12px;
      padding-left: 48px; }
      section.quote .content .button:before {
        background: url(../img/pickemoji.svg) no-repeat;
        content: "";
        width: 25px;
        height: 25px;
        top: 9px;
        left: 16px;
        position: absolute;
        display: inline-block;
        background-size: 50px; }
      section.quote .content .button:hover, section.quote .content .button.active {
        background-color: #fff;
        color: #3F4658; }
        section.quote .content .button:hover:before, section.quote .content .button.active:before {
          background-position: -24px 0; }

.something-semantic {
  display: table;
  width: 100%;
  height: 100%; }

.something-else-semantic {
  display: table-cell;
  vertical-align: middle; }

#search_movie_dropdown {
  position: absolute;
  top: 33px;
  left: 220px; }

p.made-by {
  grid-area: decotitle;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  text-align: right;
  align-self: end;
  justify-self: end;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #fff;
  opacity: 0.9;
  font-size: 12px; }
  p.made-by a {
    color: #fff; }

p.overlay-text {
  position: fixed;
  font-weight: 800;
  font-size: 18em;
  z-index: -9999;
  text-align: center;
  color: #162b3e;
  top: -190px;
  left: -109px; }

.quote-details {
  position: fixed;
  bottom: 30px;
  left: 30px; }
  .quote-details ul {
    margin: 0;
    padding: 0; }
    .quote-details ul li {
      font-size: 14px;
      display: inline-block;
      color: #fff;
      position: relative;
      padding-left: 28px;
      margin-right: 30px; }
      .quote-details ul li span.year {
        opacity: 0.5; }
      .quote-details ul li.movie-name:before, .quote-details ul li.tags:before {
        content: "";
        width: 18px;
        height: 18px;
        top: 3px;
        left: 0;
        position: absolute;
        display: inline-block;
        opacity: 0.6;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease; }
      .quote-details ul li.movie-name:before {
        background: url(../img/movie.svg) no-repeat; }
      .quote-details ul li.tags:before {
        background: url(../img/tag.svg) no-repeat; }
      .quote-details ul li.tags span {
        text-transform: capitalize; }

.ui.popup {
  border: none !important;
  border-radius: 90px !important; }

#loader {
  width: 57px;
  height: 57px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 100%;
  background-color: #fff;
  animation: loader 4800ms infinite;
  transform: scale(0.8); }

.anim {
  width: 37px;
  height: 37px;
  margin: 10px;
  animation: anim 800ms infinite; }

.anim img {
  position: absolute;
  top: 0; }

.anim img:first-child {
  animation: text 4800ms infinite; }

.anim img:nth-child(2) {
  animation: photo 4800ms infinite; }

.anim img:nth-child(3) {
  animation: quote 4800ms infinite; }

.anim img:nth-child(4) {
  animation: link 4800ms infinite; }

.anim img:nth-child(5) {
  animation: tchat 4800ms infinite; }

.anim img:nth-child(6) {
  animation: camera 4800ms infinite; }

.anim img:nth-child(7) {
  animation: audio 4800ms infinite; }

@keyframes text {
  0% {
    opacity: 1; }
  16.6% {
    opacity: 0; }
  33.33% {
    opacity: 0; }
  49.8% {
    opacity: 0; }
  66.40% {
    opacity: 0; }
  83% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes photo {
  0% {
    opacity: 0; }
  16.6% {
    opacity: 1; }
  33.33% {
    opacity: 0; }
  49.8% {
    opacity: 0; }
  66.40% {
    opacity: 0; }
  83% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes quote {
  0% {
    opacity: 0; }
  16.6% {
    opacity: 0; }
  33.33% {
    opacity: 1; }
  49.8% {
    opacity: 0; }
  66.40% {
    opacity: 0; }
  83% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes link {
  0% {
    opacity: 0; }
  16.6% {
    opacity: 0; }
  33.33% {
    opacity: 0; }
  49.8% {
    opacity: 1; }
  66.40% {
    opacity: 0; }
  83% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes tchat {
  0% {
    opacity: 0; }
  16.6% {
    opacity: 0; }
  33.33% {
    opacity: 0; }
  49.8% {
    opacity: 0; }
  66.40% {
    opacity: 1; }
  83% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes camera {
  0% {
    opacity: 0; }
  16.6% {
    opacity: 0; }
  33.33% {
    opacity: 0; }
  49.8% {
    opacity: 0; }
  66.40% {
    opacity: 0; }
  83% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes audio {
  0% {
    opacity: 0; }
  16.6% {
    opacity: 0; }
  33.33% {
    opacity: 0; }
  49.8% {
    opacity: 0; }
  66.40% {
    opacity: 0; }
  83% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes anim {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes loader {
  0% {
    background-color: #ffffff; }
  16.6% {
    background-color: #d86043; }
  33.33% {
    background-color: #f0951f; }
  49.8% {
    background-color: #44b57d; }
  66.4% {
    background-color: #3a9fd3; }
  83% {
    background-color: #687480; }
  100% {
    background-color: #ffffff; } }

/*# sourceMappingURL=main.css.map */
